services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    volumes:
      - './nginx/nginx.conf:/etc/nginx/nginx.conf'
      - './cert/full.pem:/cert/full.pem'
      - './cert/private.pem:/cert/private.pem'
    ports:
      - "80:80"
      - "443:443"
    networks:
      gw:

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    expose:
      - 5432
    env_file:
      - .postgres.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      gw:

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    expose:
      - 6379
    volumes:
      - redis-data:/data
    networks:
      gw:

  backend:
    image: vpbuyanov/gw-backend-go:latest
    container_name: backend
    restart: unless-stopped
    expose:
      - 8080
    volumes:
      - server-data:/var/lib/server/data
      - './config.yaml:/config.yaml'
    depends_on:
      - postgres
    networks:
      gw:

volumes:
  redis-data:
  server-data:
  postgres-data:

networks:
  gw: